.options-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 8%;
    padding-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px
}
.sort-div{
    display: flex;
    align-items: center;
    margin-top: 2%;
    justify-content: space-around;
}
.filter-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sort-div > div{
    padding-left: 10px;
}
.filter-div > p{
    padding-right: 10px;
}
.clear-filter-div{
    align-items: center;
    display: flex;
}