table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
.actions {
    display: flex;
    gap: 10px;
}
.actions button {
    padding: 5px 10px;
    cursor: pointer;
}

.applicationDeadlinePassed{
    color: red;
}

#tableOptions{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: white;
}

#tableMetadata{
    margin-right: 10px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#colorBox{
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: rgb(231, 46, 46);
}