<table>
    <thead>
        <tr>
            <ng-container *ngFor="let title of tableHead">
                <th>{{title}}</th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let dataObject of tableDataObject">
            <tr [ngClass]="getClassForTableData(dataObject)">
                <ng-container *ngFor="let title of applicationDataKey">
                    <td>{{dataObject[title]}}</td>
                </ng-container>
                <td class="actions">
                    <ng-container *ngFor="let action of actions">
                        <ng-container *ngIf="action === 'View' && removedApplicationsId?.includes(dataObject['id']); else actionButton">
                            <button>Not Available</button>
                        </ng-container>
                        <ng-template #actionButton>
                            <button (click)="actionClick(action, dataObject['id'])">{{action}}</button>
                        </ng-template>
                    </ng-container>
                </td> 
            </tr>
        </ng-container>
    </tbody>
</table>