
<form [formGroup]="employeerCompanyForm">

    <div id="emailInputDiv">
        <input id="emailInput" formControlName="email" placeholder="E-mail" />
        <small>{{getErrorMessage('email')}}</small>
    </div>
    
    <div id="passwordInputDiv">
        <input id="passwordInput" formControlName="password" placeholder="Password"/>
        <small>{{getErrorMessage('password')}}</small>
    </div>

    <div id="confirmPasswordInputDiv">
        <input id="confirmPasswordInput" formControlName="confirmPassword" placeholder="Confirm Password"/>
        <small>{{getErrorMessage('confirmPassword')}}</small>
    </div>

    <div id="firstNameDiv">
        <input id="firstName" formControlName="firstName" placeholder="First Name"/>
        <small>{{getErrorMessage('firstName')}}</small>
    </div>

    <div id="lastNameDiv">
        <div>
            <input id="lastNameInput" formControlName="lastName" placeholder="Last Name"/>
            <small>{{getErrorMessage('lastName')}}</small>
        </div>
    </div>


    <div id="addressDiv">
        <div>
            <input id="addressInput" formControlName="address" placeholder="Address"/>
            <small>{{getErrorMessage('address')}}</small>
        </div>
    </div>   
</form>