
<div class="parent-container">
    <p-card class="p-card" [style]="{}">
        <ng-template #header>
            <div id="header" style="">
                Finding Jobs Made Easy
            </div>
        </ng-template>
        
        <div id="title">
            Our user-friendly interface and advanced search tools make job hunting easy and efficient. Start your journey with us and discover your next career move today!         
        </div>
        
        <ng-template #footer>
            <div id="button-div">
                <p-button severity="info" label="Apply Now" icon="pi pi-arrow-right" iconPos="right" [routerLink]="['/','jobs']" />
            </div>
        </ng-template>
    </p-card>
</div>