<div class="optionsDiv">
    <a [routerLink]="['/dashboard']">Profile</a>
</div>

<div *ngIf="userRole === 'user'">
    <div class="optionsDiv">
        <a [routerLink]="['current-user-application']">My Applications</a>
    </div>
</div>

<div *ngIf="userRole === 'employeer'">
    <div class="optionsDiv">
        <a [routerLink]="['addJob']">Post Job</a>
    </div>
    <div class="optionsDiv">
        <a [routerLink]="['manageJobs']">Manage Posted Jobs</a>
    </div>
    <div class="optionsDiv">
        <a [routerLink]="['application']">Applications</a>
    </div>
</div>

<div *ngIf="userRole === 'admin'">
    <div class="optionsDiv">
        <a [routerLink]="[]">Stats</a>
    </div>
</div>
