<div class="optionsDiv">
    <p-button [style]="{width: '80%'}" icon="pi pi-user" label="Profile" severity="info" [routerLink]="['/dashboard']"></p-button>
</div>

<div *ngIf="userRole === 'user'">
    <div class="optionsDiv">
        <p-button [style]="{width: '80%'}" icon="pi pi-briefcase" label="My Applications" severity="info" [routerLink]="['current-user-application']"></p-button>
    </div>
</div>

<div *ngIf="userRole === 'employeer'">
    <div class="optionsDiv">
        <p-button [style]="{width: '80%'}" icon="pi pi-plus-circle" label="Post Job" severity="info" [routerLink]="['addJob']"></p-button>
    </div>
    <div class="optionsDiv">
        <p-button [style]="{width: '80%'}" icon="pi pi-cog" label="Manage Posted Jobs"  severity="info" [routerLink]="['manageJobs']"></p-button>
    </div>
    <div class="optionsDiv">
        <p-button [style]="{width: '80%'}" icon="pi pi-briefcase" label="Applications" severity="info" [routerLink]="['applications']"></p-button>
    </div>
</div>

<div *ngIf="userRole === 'admin'">
    <div class="optionsDiv">
        <p-button [style]="{width: '80%'}" icon="pi pi-verified" label="Approve Employers" severity="info" [routerLink]="['verify-employeers']"></p-button>
    </div>
</div>
