.parent-div{
    display: flex;
    justify-content: center;
    margin: 4rem;
    height: 100%;
}
#employeeRegistrationButton{
    float: right;
}

#employeerCompanyDiv div, #contact input {
    margin: 15px 0 5px 0;
}

button {
    background-color: #4c7aaf;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4556a0;
}

small {
    color: red;
    display: block;
}

#contactDiv{
    display: flex;
    justify-content: space-between;
}

#contact{
    width: 45%;
}

#contact p{
    margin-bottom: 2px;
}

#industryAndCompanySizeDiv{
    display: flex;
    justify-content: space-between;
}

#industryDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.input-field{
    display: grid;
    align-items: center;
    grid-template-columns: 150px 300px;
    margin: 10px;
}

#submit-button-div{
    display: flex;
    justify-content: center;
}