<p-toast />

<form *ngIf="!displayLoadingSpinner" [formGroup]="addJobFormGroup" (ngSubmit)="submitForm()">

    <div *ngFor="let inputField of formInputFields">
        <div class="input-field">
            <p>{{inputField.placeholder}}</p>
            <div>
                <input pInputText id={{inputField.id}} type={{inputField.inputType}} formControlName={{inputField.formControlName}} placeholder={{inputField.placeholder}} />
                <small>{{getErrorMessage(inputField.formControlName)}}</small>
            </div>
        </div>
    </div>

    <div class="input-field">
        <div>
            <p>Salary Range</p>
            <div *ngIf='getErrorMessage("salaryRangeFrom") != ""; else salaryRangeToError'>
                <small>{{getErrorMessage("salaryRangeFrom")}}</small>
            </div>
            <ng-template #salaryRangeToError>
                <small>{{getErrorMessage("salaryRangeTo")}}</small>
            </ng-template>
        </div>
        <div id="salaryInputDiv">
            <div>
                <input style="width: 60%;" pInputText id='' type='number' formControlName="salaryRangeFrom" placeholder="From" />
            </div>
            <div>
                <input style="width: 60%;" pInputText id='' type='number' formControlName="salaryRangeTo" placeholder="To" />
            </div>
            <span style="padding-right: 30px;">LPA</span>
        </div>
    </div>
    
    <div class="input-field">
        <p>Application Deadline</p>
        <div>
            <input id="deadlineForApplyingInput" type="date" formControlName="deadlineForApplying" min="{{minDate}}" placeholder="Application Deadline"/>
            <small>{{getErrorMessage('deadlineForApplying')}}</small>
        </div>
    </div>

    <div class="input-field">
        <p>Employment Type</p>
        <div>
            <p-select formControlName="employementType" [options]="employementTypeOptions" optionLabel="name" placeholder="Employment Type" class="w-full md:w-56"></p-select>
            <small>{{getErrorMessage('employementType')}}</small>
        </div>
    </div>
    
    <div class="input-field">
        <p>Work Mode</p>
        <div>
            <p-select formControlName="workMode" [options]="workModeOptions" optionLabel="name" placeholder="Work Mode" class="w-full md:w-56"></p-select>
            <small>{{getErrorMessage('workMode')}}</small>
        </div>
    </div>


    <div id="submit-button">
        <p-button severity="help" raised="true" type="submit">Submit</p-button>
    </div>
    
</form>

<ng-template [ngIf]="displayLoadingSpinner">
    <app-progress-spinner></app-progress-spinner>
</ng-template>
