
form {
    max-width: 600px;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

small {
    color: red;
    display: block;
}

.input-field{
    display: grid;
    align-items: center;
    grid-template-columns: 150px 300px;
    margin: 10px;
}

#submit-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

#salaryInputDiv{
    display: flex;
    align-items: center;
}
