.job-container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
}
.p-card{
    border: 1px solid #abb7ce;
    padding: 2rem;
}
.job-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.field h4{
    margin-bottom: 6px;
}
.field p{
    margin-top: 6px;
}

#button-div{
    display: flex;
    justify-content: center;
}