.parent-div{
    display: flex;
    justify-content: center;
}

#profile-div{
    width: 50%;
    margin-top: 4rem;
}

#profile-avatar{
    display: flex;
    justify-content: center;
}

#profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 2rem;
    margin-top: 2rem;
}

.info-field{
    display: grid;
    grid-template-columns: 160px 400px;
    margin: 14px;
}

.info-field p{
    margin: 0px;
}

.title-font{
    font-weight: bold;
    color: rgb(44, 44, 44);
}

.info-field-value{
    color: rgb(61, 60, 60);
}

#update-buttons{
    display: inline-flex;
    flex-direction: column;
    float: right;
    align-items: end;
}

#update-button{
    margin-bottom: 4px;
}

#resume-container{
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-content: center;
}

#resume-div{
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#close-button-div{
    display: flex;
    justify-content: end;
}

#resume-title p{
    margin-bottom: 12px;
}

#view-Resume-button-div{
    margin-bottom: 12px;
}

#view-Resume-button-div > p-button{
    margin-right: 8px;
}

small{
    color: red;
}

.flex-column{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#firstName{
    margin-right: 6px;
}

.flex-row-center{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 18px;
    margin-right: 18px;
}

.flex-row-center  p-button{
    margin: 10px;
}

.flex-row-center input{
    width: 100%;
    margin-bottom: 4px;
}

#update-password-head{
    margin-top: 28px;
    margin-bottom: 15px;
    margin-left: 16px;
    font-size: larger;
    font-weight: bold;
}