<p-toast />
<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div class="input-container">
        <div id="emailInputDiv">
            <div class="width-100">
                <input class="width-100" id="emailInput" pInputText formControlName="email" placeholder="E-mail" />
                <small>{{getErrorMessage('email')}}</small>
            </div>
        </div>
        <ng-container *ngIf="!forgotPassword">
            <div id="passwordInputDiv">
                <div>
                    <p-password id="passwordInput" formControlName="password" placeholder="Password" [toggleMask]="true" [feedback]="false" />
                    <small>{{getErrorMessage('password')}}</small>
                </div>
            </div>
        </ng-container>
    </div>
    <div id="submitContainer">
        <div id="submitOptionsDiv">
            <p-button [label]="forgotPassword ? 'Cancel' : 'Forgot Password'" size="small" severity="contrast" (onClick)="forgotPassword ? disableForgotPassword() : enableForgotPassword()"></p-button>
            <p-button type="submit" raised="true" severity="help">Submit</p-button>
        </div>
    </div>
</form>

<ng-template [ngIf]="displayOverlaySpinner">
    <app-overlay-progress-spinner></app-overlay-progress-spinner>
</ng-template>

