
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

small {
    color: red;
    display: block;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.input-container div{
    margin-bottom: 10px;
}

#submitContainer{
    height: 30%;
}
#submitOptionsDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
} 

.width-100{
    width: 100%;
}