
<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div id="emailInputDiv">
        <div >
            <input id="emailInput" formControlName="email" placeholder="E-mail" />
            <small>{{getErrorMessage('email')}}</small>
        </div>
    </div>
    <div id="passwordInputDiv">
        <div>
            <input id="passwordInput" formControlName="password" placeholder="Password"/>
            <small>{{getErrorMessage('password')}}</small>
        </div>
    </div>
    <div id="submitContainer">
        <div id="submitOptionsDiv">
            <a [routerLink]="['/user/forgotPassword']">Forgot Password</a>
            <button type="submit">Submit</button>
        </div>
    </div>
</form>