<p-toast />
<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div class="input-container">
        <div id="emailInputDiv">
            <div class="width-100">
                <input class="width-100" id="emailInput" pInputText formControlName="email" placeholder="E-mail" />
                <small>{{getErrorMessage('email')}}</small>
            </div>
        </div>
        <div id="passwordInputDiv">
            <div>
                <p-password id="passwordInput" formControlName="password" placeholder="Password" [toggleMask]="true" [feedback]="false" />
                <small>{{getErrorMessage('password')}}</small>
            </div>
        </div>
    </div>
    <div id="submitContainer">
        <div id="submitOptionsDiv">
            <a [routerLink]="['/user/forgotPassword']">Forgot Password</a>
            <p-button type="submit" raised="true" severity="help">Submit</p-button>
        </div>
    </div>
</form>