<app-filter-options></app-filter-options>

<div class="job-list-item" *ngFor="let job of jobs" (click)="loadDescriptionPage(job)">
    <h2 class="job-position">{{job.title}}</h2>
    <p class="company">Company: <span>{{job.employeer?.employeerCompany?.name}}</span></p>
    <p class="vacancies">Vacancies: <span>{{job.vacancies}}</span></p>
    <p class="employment-type">Employment Type: <span>{{job.employementType}}</span></p>
    <p class="work-mode">Work Mode: <span>{{job.workMode}}</span></p>
    <p class="deadline">Deadline for Applying: <span>{{job.deadlineForApplying.toString().split('T')[0]}}</span></p>
</div>

<div id="pagination-options">
    <button (click)="loadPreviousPage()"><</button>
    <button (click)="loadNextPage()">></button>
</div>