#parent-div{
    margin-bottom: 2rem;
}

.job-list-item {
    border: 1px solid #ccc;
    padding: 28px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
    background-color: #ecedee;
    cursor: pointer;
}

.job-list-item:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.job-list-item p {
    margin: 5px 0;
}

.job-list-item span{
    font-weight: bold;
}

#pagination-options{
    display: flex;
    justify-content: center;
}

p-button{
    margin: 8px;
}

#current-jobs-displayed-div{
    margin: 8px;
}

#current-jobs-displayed-div p{
    color: rgb(75, 87, 90);
    font-size: large;
}