
.parent-div{
    display: flex;
    justify-content: center;
    margin: 4rem;
}

.application-field {
    margin-bottom: 10px;
}

.application-field label {
    font-weight: bold;
    display: inline-block;
    width: 150px;
}

.application-field span {
    display: inline-block;
    margin-left: 8px;
}

.p-card-title{
    display: flex;
    justify-content: space-between;
}

.action-button{
    margin-right: 8px;
}