.notification-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(187, 185, 185);
    color: rgb(46, 45, 45);
    border-radius: 8px;
    margin-bottom: 6px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 6px;
    cursor: pointer;
}

#date-time-div{
    display: flex;
    color: rgb(94, 94, 94);
}

p{
    margin: 4px;
}
