
<header>
    <div style="cursor: pointer;" [routerLink]="['']"><span>SNAP </span> <span>HIRE</span> </div>
    <nav>
        <a [routerLink]="['jobs']">Jobs</a>
        <a [routerLink]="['dashboard']">Dashboard</a>

        <ng-container *ngIf="isUserLoggedIn; else userLoggedIn">
            <div id="notifications-icon-div" (click)="enableNotificationsDrawer()">
                <p-overlaybadge size="small" severity="info" value='{{newNotificationsCount}}'>
                    <i class="pi pi-bell" style="font-size: 1.4rem" ></i>
                </p-overlaybadge>
            </div>
            <p-button severity="info" icon="pi pi-sign-out" [outlined]="true" label="Logout" (click)="logout()"></p-button>
        </ng-container>

        <ng-template #userLoggedIn>
            <a [routerLink]="['user/login']">Login</a>
            <a [routerLink]="['user/register']">Register</a>
        </ng-template>
        
    </nav>
</header>