<header>
    <h1>Job Portal</h1>
    <nav>
        <a [routerLink]="['jobs']">Jobs</a>
        <a [routerLink]="['dashboard']">Dashboard</a>

        <ng-container *ngIf="isUserLoggedIn; else userLoggedIn">
            <p-overlaybadge size="small" value="0">
                <i class="pi pi-bell" style="font-size: 1.4rem"></i>
            </p-overlaybadge>
            <button (click)="logout()">Logout</button>
        </ng-container>

        <ng-template #userLoggedIn>
            <a [routerLink]="['user/login']">Login</a>
            <a [routerLink]="['user/register']">Register</a>
        </ng-template>
        
    </nav>
</header>