
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

header span {
    margin: 0;
    font-size: 26px;
    color: rgb(27, 27, 27);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

header nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

#notifications-icon-div{
    cursor: pointer;
}